*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild

#android studio
/.idea/misc.xml
/.idea/vcs.xml
/.idea/gradle.xml
/.idea

# travis ci 
keystore.properties
pdf-all.keystore
keystore.tar

# build
app/release


# django

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

.env
db.sqlite3